In [2]:
# Base Functions
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# flights = pd.read_csv('../../../data/flights/newflightTrain.csv')

In [4]:
# flight = pd.read_csv('../../../data/flights/flightFinal.csv')

In [5]:
ff = pd.read_csv('../../../data/flights/flightFinalTrain.csv')

In [6]:
passengers = pd.read_csv('../../../data/passengerTrain.csv')

In [7]:
# flights = flights.drop(['Unnamed: 0'],axis=1)
passengers = passengers.drop(['Unnamed: 0'],axis=1)

In [8]:
# flight = flight.drop(['Unnamed: 0','fl_date', 'tail_num', 'op_carrier_fl_num', 'origin_city_name', 'dest_city_name'],axis=1)
# flight

In [9]:
ff = ff.drop(['Unnamed: 0', 'tail_num', 'op_carrier_fl_num', 'crs_arr_time'], axis = 1)

In [10]:
ff.columns

Index(['mkt_carrier', 'origin_airport_id', 'dest_airport_id', 'crs_dep_time',
       'arr_delay', 'crs_elapsed_time', 'distance', 'day', 'month', 'year',
       'month_delay', 'carrier_delay', 'carrier_perc_delay'],
      dtype='object')

In [11]:
ff = ff[['origin_airport_id', 'dest_airport_id', 'day', 'month', 'year', 'mkt_carrier','crs_dep_time', 'crs_elapsed_time', 'distance', 'month_delay', 'carrier_delay', 'carrier_perc_delay', 'arr_delay']]

In [12]:
ff

,origin_airport_id,dest_airport_id,day,month,year,mkt_carrier,crs_dep_time,crs_elapsed_time,distance,month_delay,carrier_delay,carrier_perc_delay,arr_delay
0,12892,10140,10,11,2018,WN,1235,120.0,677,3.454152,4.566613,19.68,6.0
1,12892,10140,10,11,2018,WN,1840,105.0,677,3.454152,4.566613,19.68,1.0
2,12892,10397,10,11,2018,WN,805,250.0,1947,3.454152,4.566613,19.68,-12.0
3,12892,10397,10,11,2018,WN,1045,260.0,1947,3.454152,4.566613,19.68,-20.0
4,12892,10423,10,11,2018,WN,1030,185.0,1242,3.454152,4.566613,19.68,-12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5071769,14771,14679,31,1,2018,VX,1508,87.0,447,4.221989,2.348741,19.31,-9.0
5071770,14771,14679,31,1,2018,VX,1720,87.0,447,4.221989,2.348741,19.31,-11.0
5071771,14771,14679,31,1,2018,VX,2055,83.0,447,4.221989,2.348741,19.31,-14.0
5071772,12892,14771,31,1,2018,VX,2000,94.0,337,4.221989,2.348741,19.31,-18.0
5071773,12892,14771,31,1,2018,VX,2150,92.0,337,4.221989,2.348741,19.31,-13.0

In [13]:
passengers['mkt_carrier'] = passengers['mkt_unique_carrier']

In [14]:
passengers = passengers[['origin_airport_id', 'dest_airport_id',
       'month', 'year', 'mkt_carrier',
       'departures_performed', 'seats', 'passengers']]
#passengers.loc[(passengers['origin_airport_id'] == 10397) & (passengers['dest_airport_id'] == 11057) & (passengers['month'] == 1) & (passengers['mkt_unique_carrier'] == 'AA')]

In [15]:
f_pass = passengers.groupby(['origin_airport_id', 'dest_airport_id', 'mkt_carrier', 'year','month'],as_index=False).sum()

In [16]:
f_pass

,origin_airport_id,dest_airport_id,mkt_carrier,year,month,departures_performed,seats,passengers
0,10397,10135,DL,2018,1,30,3300,2018
1,10397,10135,DL,2018,2,35,3850,2667
2,10397,10135,DL,2018,3,32,3520,2904
3,10397,10135,DL,2018,4,30,3368,2749
4,10397,10135,DL,2018,5,31,3410,2778
...,...,...,...,...,...,...,...,...
46518,14771,16321,UA,2019,6,30,6603,6330
46519,14771,16321,UA,2019,7,31,6987,4557
46520,14771,16321,UA,2019,8,31,6789,5978
46521,14771,16321,UA,2019,9,30,6636,5350
46522,14771,16321,UA,2019,10,25,5541,3494

In [17]:
df = pd.merge(ff, 
                 f_pass, 
                 on =['origin_airport_id', 'dest_airport_id', 'mkt_carrier', 'year','month'], 
                 how ='left')

In [18]:
df['percent_filled'] = (df['passengers']/df['seats'])*100
df_train = df.copy()

In [19]:
df.isnull().sum()

origin_airport_id             0
dest_airport_id               0
day                           0
month                         0
year                          0
mkt_carrier                   0
crs_dep_time                  0
crs_elapsed_time              1
distance                      0
month_delay                   0
carrier_delay                 0
carrier_perc_delay            0
arr_delay                     0
departures_performed    1152907
seats                   1152907
passengers              1152907
percent_filled          1153579
dtype: int64

In [26]:
df_train = df_train.dropna()

In [30]:
df_train = pd.get_dummies(df_train,prefix=['carrier'], columns = ['mkt_carrier'], drop_first=True)

In [32]:
df_train.columns

Index(['origin_airport_id', 'dest_airport_id', 'day', 'month', 'year',
       'crs_dep_time', 'crs_elapsed_time', 'distance', 'month_delay',
       'carrier_delay', 'carrier_perc_delay', 'arr_delay',
       'departures_performed', 'seats', 'passengers', 'percent_filled',
       'carrier_AS', 'carrier_B6', 'carrier_DL', 'carrier_F9', 'carrier_G4',
       'carrier_HA', 'carrier_NK', 'carrier_UA', 'carrier_VX', 'carrier_WN'],
      dtype='object')

In [33]:
df_train = df_train[['origin_airport_id', 'dest_airport_id', 'day', 'month', 'year',
       'crs_dep_time', 'crs_elapsed_time', 'distance', 'month_delay',
       'carrier_delay', 'carrier_perc_delay',
       'departures_performed', 'seats', 'passengers', 'percent_filled',
       'carrier_AS', 'carrier_B6', 'carrier_DL', 'carrier_F9', 'carrier_G4',
       'carrier_HA', 'carrier_NK', 'carrier_UA', 'carrier_VX', 'carrier_WN', 'arr_delay']]

In [35]:
df_train.to_csv('../../../data/df_train.csv')